################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.suo
/Mouse/Mouse/obj/Debug
/TestTowerConcept/TestTowerConcept/obj/Debug
/TestTowerConcept/TestTowerConcept/bin/Debug
/TestTowerConcept/Core/bin/Debug
/Mouse/Mouse/bin/Debug
/Mouse/MathCore
/TestTowerConcept/Core/obj/Debug
/TestTowerConcept/CommonElement/obj/Debug
/TestTowerConcept/CommonElement/bin/Debug
/TestTowerConcept/CoreTests/obj/Debug
/TestTowerConcept/CoreTests/bin/Debug
