################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.suo
/Mouse/Mouse/obj/Debug
/TestTowerConcept/TestTowerConcept/obj/Debug
/TestTowerConcept/TestTowerConcept/bin/Debug
/TestTowerConcept/Core/bin/Debug
/Mouse/Mouse/bin/Debug
/Mouse/MathCore
/TestTowerConcept/Core/obj/Debug
/TestTowerConcept/CommonElement/obj/Debug
/TestTowerConcept/CommonElement/bin/Debug
/TestTowerConcept/CoreTests/obj/Debug
/TestTowerConcept/CoreTests/bin/Debug
/TestUnitMove/TestUnitMove/obj/Debug
/TestUnitMove/TestUnitMove/bin/Debug
/TestTowerConcept/Core/Processors
/PathToSky/MathCore/bin/Debug
/PathToSky/MathCore/obj/Debug
/PathToSky/ViewGame/bin/Debug
/PathToSky/ViewGame/obj/Debug
/.gitattributes
/PathToSky/TestCore/obj/Debug
/PathToSky/TestCore/bin/Debug
